<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>19/08/31 19:38:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTestCases.setUp()[pri:0, instance:com.pallavi.sampletestproject.testcases.LoginPageTestCases@3e6fa38a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>19/08/31 19:39:01</td>   <td>20561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTestCases.login()[pri:0, instance:com.pallavi.sampletestproject.testcases.LoginPageTestCases@3e6fa38a]">login</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
